.clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url("clock.png") no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour{
    width: 2.5%;
    height: 22%;
    top: 28%;
    left: 48.45%;
    opacity: 0.9;
}
#minute{
    width: 1.5%;
    height: 29%;
    top: 21%;
    left: 48.85%;
    opacity: 0.9;
}
#second{
    width: 1%;
    height: 37%;
    top: 13%;
    left: 49.1%;
    opacity: 0.9;
}